<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ifme.hitoha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ifme.hitoha.Properties.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultLang" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="LastOpenQueueLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenSubtitleLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenAttachLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TemporaryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMkv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nice" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VideoPreset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VideoTune" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoRateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoRateValue" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="AudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioBitRate" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AudioFreq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AudioChan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoCmd" serializeAs="String">
                <value>--dither</value>
            </setting>
            <setting name="CPUAffinity" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="UpdateAlways" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </ifme.hitoha.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
