<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <IFME.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrefixText" serializeAs="String">
                <value>[IFME]</value>
            </setting>
            <setting name="PostfixText" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PrefixMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PostfixMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FolderTemporary" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginsDisabled" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000,aaaaaaaa-0000-0000-0000-000000000000,ffffffff-ffff-ffff-ffff-ffffffffffff</value>
            </setting>
            <setting name="TestEncoder" serializeAs="String">
                <value>True</value>
            </setting>
        </IFME.Properties.Settings>
    </userSettings>
</configuration>