<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ifme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ifme.Properties.Settings>
            <setting name="DirOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="DirTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="Nice" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CPUAffinity" serializeAs="String">
                <value />
            </setting>
            <setting name="NamePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundFinish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvsMkvCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Compiler" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultNotepad" serializeAs="String">
                <value>nemupad.dll</value>
            </setting>
            <setting name="DefaultBenchmark" serializeAs="String">
                <value>holobenchmark.dll</value>
            </setting>
            <setting name="AvsDecoder" serializeAs="String">
                <value>DirectShowSource</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDirOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFFmpeg64" serializeAs="String">
                <value>False</value>
            </setting>
        </ifme.Properties.Settings>
    </userSettings>
</configuration>