<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ifme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ifme.Properties.Settings>
            <setting name="TempDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FFmpegArch" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SplashScreenRand" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FileNamePrefix" serializeAs="String">
                <value>[IFME]</value>
            </setting>
            <setting name="FileNamePrefixType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShutdownType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileNamePostfix" serializeAs="String">
                <value>x265</value>
            </setting>
            <setting name="FileNamePostfixType" serializeAs="String">
                <value>0</value>
            </setting>
        </ifme.Properties.Settings>
    </userSettings>
</configuration>